       <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-x">
                <img src="{{asset('front/images/shapes/site-footer-shape-1.png')}}" alt="">
            </div>
            <div class="container">
                <div class="site-footer__inner">
                    <div class="site-footer__top">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget__column footer-widget__about">
                                    <div class="footer-widget__logo">
                                        <a href="index.html"><img src="{{asset('front/images/resources/footer-logo.png')}}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget__column footer-widget__explore">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">explore</h3>
                                    </div>
                                    <div class="footer-widget__explore-list-box">
                                        <ul class="footer-widget__explore-list list-unstyled">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="the-building.html">The Building</a></li>
                                            <li><a href="agents.html">Our Agents</a></li>
                                            <li><a href="apartments.html">Apartment</a></li>
                                        </ul>
                                        <ul class="footer-widget__explore-list list-unstyled">
                                            <li><a href="news.html">News</a></li>
                                            <li><a href="about.html">Feedbacks</a></li>
                                            <li><a href="products.html">Shop</a></li>
                                            <li><a href="about.html">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget__column footer-widget__contact">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Contact</h3>
                                    </div>
                                    <p class="footer-widget__contact-text">Rue d’Andromède, Casablanca 20250</p>
                                    <ul class="footer-widget__contact-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:needhelp@company.com">contact@riadalfoutouh.com</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-telephone"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="tel:+9288006780">0661832910-0662686868</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget__column footer-widget__newsletter">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">newsletter</h3>
                                    </div>
                                    <form class="footer-widget__email-box">
                                        <div class="footer-widget__email-input-box">
                                            <input type="email" placeholder="Email Address" name="email">
                                        </div>
                                        <button type="submit"
                                            class="footer-widget__subscribe-btn thm-btn">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__bottom">
                        <div class="site-footer__bottom-inner">
                            <div class="site-footer__bottom-left">
                                <p class="site-footer__bottom-text">© All Copyright 2024 by <a href="#">Company.com</a>
                                </p>
                            </div>
                            <div class="site-footer__bottom-right">
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->